{%- set arch = docker_engine_architecture -%}
{%- set repo =  'https://download.docker.com/linux/' ~ ansible_distribution|lower -%}
{%- set distrib = ansible_distribution_release -%}
{%- if docker_engine_channel|lower == 'edge' -%}
  {%- set channel = 'stable edge' -%}
{%- else -%}
  {%- set channel = 'stable' -%}
{%- endif -%}

deb [arch={{ arch }}] {{ repo }} {{ distrib }} {{ channel }}
