{%- if docker_engine_commercial_support -%}
  {%- set repo_version = docker_engine_version.split('.') -%}
  {%- set baseurl = 'https://packages.docker.com/' ~ repo_version[0] ~ '.' ~ repo_version[1] ~ '/yum/repo/main/centos/' ~ ansible_distribution_major_version -%}
  {%- set gpg_key =  'https://' ~ docker_engine_repo_gpg_key_server ~ '/pks/lookup?op=get&search=' ~ docker_engine_repo_cs_gpg_key -%}
{%- else -%}
  {%- set baseurl = 'https://yum.dockerproject.org/repo/main/centos/' ~ ansible_distribution_major_version -%}
  {%- set gpg_key = 'https://' ~ docker_engine_repo_gpg_key_server ~ '/pks/lookup?op=get&search=' ~ docker_engine_repo_os_gpg_key -%}
{%- endif -%}

[docker]
name=Docker Repository
baseurl={{ baseurl }}
enabled=1
gpgcheck=1
gpgkey={{ gpg_key }}
